@mixin pink-button {
        font-family: Public Sans;
        font-weight: 700;
        font-size: 15px;
        width: 175px;
        height: 48px;
        background-color: #BA4270;
        color: #FBFCFE;
        text-align: center;
        padding-top: 16px;
        padding-right: 24.5px;
        padding-bottom: 14px;
        padding-left: 26.5px;
        border-radius: 50px ;
        margin-left: 464px;
        border: 0;
        
    
}